
@{
    ViewData["Title"] = "Advisory Services";
}

<div class="block-container">
    <section class="content-wrapper">
        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides _typography ">
            <h3 class="text-center">Our Advisory Services</h3>
            <div class="heading--underscore"></div>
            <p class="text-center">We provide a selection of tailored solutions and expertise to meet your needs</p>
        </div>

        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides">
            <div class="cards cards--three-col cards--gray">
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h5>Bespoke research</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small>
                                We provide a range of tailored research services, such as assessing regulatory policies, forecasting technology change and performing sector analysis.
                            </small>
                        </p>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h5>Data interpretation</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small>
                                Understanding Environmental-Social-Governance data can be tough and time-consuming.  We help entities navigate and interpret data in a clear and meaningful way so they can make informed decisions.
                            </small>
                        </p>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h5>Carbon analysis</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small>
                                Our range of carbon services help entities understand, analyse and report on their carbon impact, including Scope 3 emissions, 2C climate alignment and climate-related risk analysis.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides">
            <div class="cards cards--three-col cards--gray">
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h5>Environmental modelling</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small>
                                We are modelling experts and help entities understand the implications that environmental, social, regulatory and other risks have on their financial returns.
                            </small>
                        </p>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h5>Impact reporting</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small>
                                Quantify your environmental and social impact and communicate your portfolio impact to stakeholders with our proprietary seven-step analysis framework.
                            </small>
                        </p>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h5>Regulatory compliance</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small>
                                Whether it&rsquo;s the French Transition Law, AODP, the Montreal Pledge or the PRI, we support clients with their international, national and other regulatory disclosure obligations.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides">
            <div class="cards cards--three-col cards--gray">
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h5>Investment support</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small>
                                We support asset owners and fund managers throughout their investment cycle from investment strategy and screening through to proxy voting and corporate engagement.
                            </small>
                        </p>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h5>Statistical analysis</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small>
                                Apply regression, correlation and other quantitative analysis techniques on impact data to understand the relationship between financial and non-financial metrics.
                            </small>
                        </p>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h5>Impact initiatives</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small>
                                Implement one-off impact initiatives, such as offset projects, regeneration solutions, sector initiatives, capacity building, social finance structuring or get support with corporate finance services.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>


<div class="bg-gray">
    <div class="block-container">
        <div class="content-wrapper">
            <div class="content-wrapper__inner _typography">
                <div class="local-quote__container ">
                    <blockquote class="local-quote__quote">
                        <img src="~/img/graphics/quote-gray.png" />
                        <q>
                            Impactleap&rsquo;s customised approach and in-depth analysis delivered a fantastic carbon and
                            environmental risk report for our investors.  Thank you.&quot;
                        </q>
                    </blockquote>
                    <div class="local-quote__author">
                        <div class="local-quote__author__image img3" style="background-image: url('/img/heads/Mark_May17.jpg');"></div>
                        <div class="local-quote__author__name">
                            <small>Mark Evans<br />ESG Analyst, Jupiter Asset Management</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-container">
    <section class="content-wrapper text-center">
        <div class="content-wrapper__inner _typography _margin-bottom-0">
            <div class="block-container block-container--lg">
                <!-- <h1>Advisory Services</h1> -->
                <!-- <h5>Tailored solutions and expertise to meet your needs</h5> -->
            </div>
        </div>
    </section>
    <div class="content-wrapper">
        <div class="content-wrapper__inner _typography _margin-top-32">
            <div class="columned-wrapper">
                <div class="columned-wrapper__column _hidden-mobile _hidden-tablet">
                    <div class="image-block">
                        <img class="image-block__image image-block__image--full-width" img src="~/img/graphics/seven_steps_May17.jpg" width="720" height="480">
                    </div>
                </div>
                <div class="columned-wrapper__column">
                    <h5>Creating value for our clients</h5>
                    <div class="heading--underscore3"></div>
                    <p>
                        Our distinct track record of success is the result of our unorthodox approach
                        to impact analysis and our deep understanding of how trends affect our clients.
                        We translate our knowledge into solutions that deliver value by examining how
                        our clients are affected by the interplay of categories such as regulatory
                        policies, economic developments, financial markets, environmental considerations,
                        globalisation and other societal factors.  We use our expertise to develop rich
                        models of the world and combine a top-down approach with bottom-up analysis
                    </p>
                    <a asp-controller="Home" asp-action="Clients">Read some case studies</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-container block-container--lighter-dark-gray-theme">
    <div class="content-wrapper">
        <div class="content-wrapper__inner _typography text-center">
            <h3>Got questions?</h3>
            <a asp-controller="Home" asp-action="Update" class="btn btn--primary btn--xl btn--schedule">Schedule a call</a>
            <p class="_margin-half"><small>Speak to one of our team, at a convenient time for you</small></p>
        </div>
    </div>
</div>
