@model Impactleap29May2017.Models.Newsletter

@{
    ViewData["Title"] = "Clients";
}

<div class="block-container">
    <section class="content-wrapper">
        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides _typography content-wrapper__text-wrapper content-wrapper__inner_auto">
            <h3 class="text-center">Our Clients</h3>
            <div class="heading--underscore"></div>
            <p class="text-center media ourservices marginevelike">
                We provide customised solutions to asset owners, fund managers and corporations,
                of all shapes and sizes, across all sectors and asset classes, and from all around the world.
            </p>
        </div>
    </section>
</div>

<div class="_hidden-mobile">
    <div class="block-container">
        <section class="content-wrapper">
            <div class="content-wrapper__inner _typography logo_container">
                <div class="customer-logos customer-logos--one-row ">
                    <div class="customer-logos__row">
                        <div class="customer-logos__logo clientHide2">
                            <img src="~/img/clients/Lundin_May17.png" width="110" alt="">
                        </div>
                        <div class="customer-logos__logo">
                            <img src="~/img/clients/Imperial_April17.jpg" width="180" alt="">
                        </div>
                        <div class="customer-logos__logo">
                            <img src="~/img/clients/Jupiter_April17.jpg" width="125" alt="">
                        </div>
                        <div class="customer-logos__logo">
                            <img src="~/img/clients/Wheb_May17.jpg" width="230" alt="">
                        </div>
                        <div class="customer-logos__logo">
                            <img src="~/img/clients/Telus_May17.png" width="150" alt="">
                        </div>
                        <div class="customer-logos__logo clientHide1">
                            <img src="~/img/clients/Spring_May17.png" width="125" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="block-container bg-gray">
    <div class="content-wrapper">
        <div class="content-wrapper__inner _typography">
            <div class="columned-wrapper">
                <div class="columned-wrapper__column">
                    <h5>Carbon Reporting In Focus</h5>
                    <div class="heading--underscore3"></div>
                    <p>
                        Jupiter Asset Management is an active fund manager with over GBP35bn AUM.  In order to meet
                        the French Energy Transition Law, Impactleap provided carbon footprint analysis on six of Jupiter's
                        funds, covering listed equity, corporate debt and sovereign fixed income.  Our report included
                        detailed analysis on Scope 1, 2 and 3 emissions, sector and stock allocation, portfolio breakdown
                        by product exposure, alignment with climate goals and a review of key environmental risks.
                    </p>
                    <a asp-controller="Home" asp-action="Update">Read case study</a>
                </div>
                <div class="columned-wrapper__column _hidden-mobile _hidden-tablet">
                    <div class="image-block">
                        <img class="image-block__image image-block__image--full-width" img src="~/img/pictures/client_1.jpg" width="720" height="480">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-container">
    <section class="content-wrapper">

        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides _typography content-wrapper__text-wrapper content-wrapper__inner_auto">
            <h5 class="text-center">Selected case studies</h5>
            <div class="heading--underscore"></div>
        </div>

        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides">
            <div class="cards cards--three-col cards--gray">
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__image img4" style="background-image: url('/img/pictures/client_2.gif');">
                        </div>
                        <div class="cards__title">
                            <h5>Product impact</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small class="minheight">
                                We helped WHEB Asset Management quantify the impact of their portfolio&rsquo;s products and align them with the Sustainable Development Goals.
                            </small>
                        </p></br>
                        <a asp-controller="Home" asp-action="Update">Read case study</a>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__image  img4" style="background-image: url('/img/pictures/client_3.gif');">
                        </div>
                        <div class="cards__title">
                            <h5>Climate modelling</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small class="minheight">
                                Learn how we modelled the impact of climate risk on portfolios returns, yields on government bonds and inflation.
                            </small>
                        </p></br>
                        <a asp-controller="Home" asp-action="Update">Read case study</a>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__image img4" style="background-image: url('/img/pictures/client_4.gif');">
                        </div>
                        <div class="cards__title">
                            <h5>Regulatory review</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small class="minheight">
                                Learn how we provided research support to help analyse the impact of legislation for a client&rsquo;s portfolio.
                            </small>
                        </p></br>
                        <a asp-controller="Home" asp-action="Update">Read case study</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides">
            <div class="cards cards--three-col cards--gray">
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__image img4" style="background-image: url('/img/pictures/client_5.jpg');">
                        </div>
                        <div class="cards__title">
                            <h5>Technology trajectories</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small class="minheight">
                                Read how we analysed the role future technology plays in the automotive sector and our work helped an active ownership team drive company success.
                            </small>
                        </p></br>
                        <a asp-controller="Home" asp-action="Update">Read case study</a>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__image img4" style="background-image: url('/img/pictures/client_6.jpg');">
                        </div>
                        <div class="cards__title">
                            <h5>Impact reporting</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small class="minheight">
                                Learn how we helped a Foundation develop a framework for measuring and quantifying their impact to report back to their funders.
                            </small>
                        </p></br>
                        <a asp-controller="Home" asp-action="Update">Read case study</a>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__image img4" style="background-image: url('/img/pictures/client_7.jpg');">
                        </div>
                        <div class="cards__title">
                            <h5>Trends analysis</h5>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>
                            <small class="minheight">
                                See how we developed an evaluation framework to show the impact of megatrends on sustainable investment strategies.
                            </small>
                        </p></br>
                        <a asp-controller="Home" asp-action="Update">Read case study</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<div class="bg-gray">
    <div class="block-container">
        <div class="content-wrapper">
            <div class="content-wrapper__inner _typography">
                <div class="local-quote__container ">
                    <blockquote class="local-quote__quote">
                        <img src="~/img/graphics/quote-gray.png" />
                        <q>Impactleap is addressing a growing market need for clearer impact measurement and their robust solutions are well placed to further this important sector."</q>
                    </blockquote>
                    <div class="local-quote__author">
                        <div class="local-quote__author__image img3" style="background-image: url('/img/heads/Sana_April17.png');">
                        </div>
                        <div class="local-quote__author__name">
                            <small>Sana Kapadia<br />Chief Impact Officer, Spring University</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="cta-block _clearfix">
    <h3 class="cta-block__title">Subscribe to our newsletter</h3>
    <form asp-action="Clients" class="signup-form">
        <div asp-validation-summary="ModelOnly" class="signup-form__error signup-form__error--no-min-height"></div>
        <div class="signup-form__items-wrapper">
            <div class="signup-form__item">
                <div class="signup-form__input-wrapper">
                    <input asp-for="Name"
                           class="signup-form__input"
                           placeholder="Your name" />
                </div>
                <span asp-validation-for="Name" class="text-danger" style="font-size:12px;text-align:left;color:#FF0000;"></span>
            </div>
            <div class="signup-form__item">
                <div class="signup-form__input-wrapper">
                    <input asp-for="Email"
                           class="signup-form__input"
                           placeholder="Email" />

                </div>
                <span asp-validation-for="Email" class="text-danger" style="font-size:12px;text-align:left;color:#FF0000;"></span>
            </div>
            <div class="signup-form__item">
                <div class="signup-form__input-wrapper">
                    <input asp-for="Company"
                           class="signup-form__input"
                           placeholder="Company" />
                </div>
                <span asp-validation-for="Company" class="text-danger" style="font-size:12px;text-align:left;color:#FF0000;"></span>
            </div>
            <div class="signup-form__item signup-form__item--submit">
                <button type="submit" class="btn btn--primary btn--xl btn--fluid">
                    Subscribe
                </button>
                <a id="subscribe" class="btn btn--blackbox btn--xl" style="visibility:hidden;">Thank you</a>
                @if (ViewBag.SuccessMessage != null)
            {
                    <script>
                        $(document).ready(function () {
                            $('#subscribe').click();
                        });
                    </script>
                }
                <div class="signup-form__error signup-form__error--no-min-height"></div>
            </div>

        </div>
    </form>
    <p class="cta-block__title"><small>Subscribe to our newsletter to receive updates on the impact investment sector</small></p>
</section>


<!-- modal thank you -->
<div id="modal-thank-you-for-subscribing" class="modal-block">
    <div class="modal-block__overlay">
        <div class="modal-block__overlay-item">
            <div class="modal-block__spacer">
                <section class="modal-content">
                    <a href="#close" class="modal-block__close">
                        <i class="fa fa-times">X</i>
                    </a>
                    <div class="modal-content__inner">
                        <div class="thanks-for-subscribing">
                            <img class="thanks-for-subscribing__image" src="~/img/graphics/icon-envelope.svg">
                            <h3 class="modal-content__heading thanks-for-subscribing__title">Thank you for subscribing!</h3>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- modal thank you -->

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
