@{
    ViewData["Title"] = "Impact analysis & reporting solutions";
}

<div class="block-container">
    <section class="content-wrapper text-center">
        <div class="content-wrapper__inner _typography">
            <div class="block-container block-container--lg">
                <h1>Make Better Money</h1>
                <!-- <div class="heading--underscore"></div> -->
                <p>We help investors optimise their environmental, social and financial impact through simple, customizable analysis</p>
            </div>
            <p>
                <a asp-controller="FreeReports" asp-action="RequestReport"  class="btn btn--primary btn--xl btn--schedule">
                    Get free report
                </a>
            </p>
        </div>
        <div class="content-wrapper__inner _typography">
            <img src="~/img/graphics/screenshot_ondemand_May17.jpg" width="1501" height="520">
        </div>
    </section>
</div>

<div class="_shadow-around _hidden-mobile">
    <div class="block-container">
        <section class="content-wrapper">
            <div class="content-wrapper__inner _typography logo_container">
                <div class="customer-logos customer-logos--one-row ">
                    <div class="customer-logos__row">
                        <div class="customer-logos__logo clientHide2">
                            <img src="~/img/clients/Lundin_May17.png" width="110" alt="">
                        </div>
                        <div class="customer-logos__logo">
                            <img src="~/img/clients/Imperial_April17.jpg" width="180" alt="">
                        </div>
                        <div class="customer-logos__logo">
                            <img src="~/img/clients/Jupiter_April17.jpg" width="125" alt="">
                        </div>
                        <div class="customer-logos__logo">
                            <img src="~/img/clients/Wheb_May17.jpg" width="230" alt="">
                        </div>
                        <div class="customer-logos__logo">
                            <img src="~/img/clients/Telus_May17.png" width="150" alt="">
                        </div>
                        <div class="customer-logos__logo clientHide1">
                            <img src="~/img/clients/Spring_May17.png" width="125" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="bg-gray">
    <div class="block-container">

        <section class="content-wrapper">
            <div class="content-wrapper__inner content-wrapper__inner--thinner-sides _typography content-wrapper__text-wrapper content-wrapper__inner_auto">
                <div class="text-center media ourservices">
                    <h2>Our services</h2>
                    <div class="heading--underscore"></div>
                    <p class="marginevelike">
                        We help investors of all shapes and sizes improve returns, manage risk better,
                        capitalise on opportunities and optimize impact through our proprietary modelling approach to
                        environmental and social analysis
                    </p>
                </div>
            </div>
            <div class="content-wrapper__inner content-wrapper__inner--thinner-sides">
                <div class="cards cards--two-col">
                    <div class="cards__item">
                        <div class="cards__inner">
                            <div class="cards__title">
                                <h4>On-Demand Analysis</h4>
                            </div>
                            <div class="cards__image">
                                <img src="~/img/graphics/screenshot_ondemand_May17.jpg" width="378" height="239">
                            </div>
                            <p>
                                Gain insight and improve performance with the exact impact information required
                                to make informed investment decisions
                            </p>
                            <div class="content-wrapper__inner _typography text-center content-wrapper__inner_noMargin">
                                <a asp-controller="Home" asp-action="OnDemand" class="btn btn--blackbox btn--xl btn--resize">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="cards__inner">
                            <div class="cards__title">
                                <h4>Advisory Services</h4>
                            </div>
                            <div class="cards__image">
                                <img src="~/img/graphics/screenshot_advisory_May17.jpg" width="378" height="239">
                            </div>
                            <p>
                                Use our market-leading advisory services to analyse, report and optimise your
                                environmental, social and financial performance
                            </p>
                            <div class="content-wrapper__inner _typography text-center content-wrapper__inner_noMargin">
                                <a asp-controller="Home" asp-action="Advisory"  class="btn btn--blackbox btn--xl btn--resize">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

<div class="block-container">
    <div class="content-wrapper">
        <div class="content-wrapper__inner _typography text-center">
            <h2>Our approach</h2>
        </div>
        <div class="content-wrapper__inner">
            <div class="columned-wrapper">
                <div class="columned-wrapper__column">
                    <h5>Customized impact analysis</h5>
                    <div class="heading--underscore3"></div>
                    <p>
                        We know every investor is unique.  Motivations, needs and interests vary from one investor to
                        another which is why we have developed a unique approach that gives our clients the freedom to customize
                        their approach to environmental, social and financial impact analysis.  Our solutions and services
                        can serve your needs exactly with our modular approach, simple user experience and ever-growing
                        list of solutions to explore.  Our models may be complex, but using them is straightforward.
                    </p></br>
                    <a asp-controller="Home" asp-action="OnDemand" >Learn more</a>
                </div>
                <div class="columned-wrapper__column margintop30">
                    <div class="image-block">
                        <img class="image-block__image" src="~/img/graphics/screenshot_modular_May17.jpg" width="378" height="239">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-gray">
    <div class="block-container">
        <div class="content-wrapper">
            <div class="content-wrapper__inner _typography">
                <div class="local-quote__container ">
                    <blockquote class="local-quote__quote">
                        <img src="~/img/graphics/quote-gray.png" />
                        <q>
                            Impactleap’s clear and structured approach to analysis and reporting played a critical role in helping us develop a framework for quantifying our fund’s impact.”
                        </q>
                    </blockquote>
                    <div class="local-quote__author">
                        <div class="local-quote__author__image img3" style="background-image: url('img/heads/Seb_May17.jpeg');">
                        </div>
                        <div class="local-quote__author__name">
                            <small>Seb Beloe<br />Partner, WHEB Asset Management</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-container">
    <section class="content-wrapper">
        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides _typography">
            <h2 class="text-center">What makes us unique?</h2>
        </div>
        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides">
            <div class="cards cards--three-col cards--gray">
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__image">
                            <svg class="fa-users" width="60" height="60" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M529 896q-162 5-265 128h-134q-82 0-138-40.5t-56-118.5q0-353 124-353 6 0 43.5 21t97.5 42.5 119 21.5q67 0 133-23-5 37-5 66 0 139 81 256zm1071 637q0 120-73 189.5t-194 69.5h-874q-121 0-194-69.5t-73-189.5q0-53 3.5-103.5t14-109 26.5-108.5 43-97.5 62-81 85.5-53.5 111.5-20q10 0 43 21.5t73 48 107 48 135 21.5 135-21.5 107-48 73-48 43-21.5q61 0 111.5 20t85.5 53.5 62 81 43 97.5 26.5 108.5 14 109 3.5 103.5zm-1024-1277q0 106-75 181t-181 75-181-75-75-181 75-181 181-75 181 75 75 181zm704 384q0 159-112.5 271.5t-271.5 112.5-271.5-112.5-112.5-271.5 112.5-271.5 271.5-112.5 271.5 112.5 112.5 271.5zm576 225q0 78-56 118.5t-138 40.5h-134q-103-123-265-128 81-117 81-256 0-29-5-66 66 23 133 23 59 0 119-21.5t97.5-42.5 43.5-21q124 0 124 353zm-128-609q0 106-75 181t-181 75-181-75-75-181 75-181 181-75 181 75 75 181z" /></svg>
                        </div>
                        <div class="cards__title">
                            <h4>Independent</br>specialists</h4>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>Our core team of sustainability and finance professionals are supported by business analysts, economists, industry experts, data scientists and engineers from around the world.</p>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__image">
                            <svg class="fa-lightbulb-o" width="60" height="60" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1120 576q0 13-9.5 22.5t-22.5 9.5-22.5-9.5-9.5-22.5q0-46-54-71t-106-25q-13 0-22.5-9.5t-9.5-22.5 9.5-22.5 22.5-9.5q50 0 99.5 16t87 54 37.5 90zm160 0q0-72-34.5-134t-90-101.5-123-62-136.5-22.5-136.5 22.5-123 62-90 101.5-34.5 134q0 101 68 180 10 11 30.5 33t30.5 33q128 153 141 298h228q13-145 141-298 10-11 30.5-33t30.5-33q68-79 68-180zm128 0q0 155-103 268-45 49-74.5 87t-59.5 95.5-34 107.5q47 28 47 82 0 37-25 64 25 27 25 64 0 52-45 81 13 23 13 47 0 46-31.5 71t-77.5 25q-20 44-60 70t-87 26-87-26-60-70q-46 0-77.5-25t-31.5-71q0-24 13-47-45-29-45-81 0-37 25-64-25-27-25-64 0-54 47-82-4-50-34-107.5t-59.5-95.5-74.5-87q-103-113-103-268 0-99 44.5-184.5t117-142 164-89 186.5-32.5 186.5 32.5 164 89 117 142 44.5 184.5z" /></svg>
                        </div>
                        <div class="cards__title">
                            <h4>Proprietary</br>models</h4>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>We have developed unique models, frameworks and methodologies to help solve the challenges that our clients face and provide them with unrivalled insight and intelligence.</p>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="cards__inner">
                        <div class="cards__image">
                            <svg class="fa-desktop" width="60" height="60" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1728 992v-832q0-13-9.5-22.5t-22.5-9.5h-1600q-13 0-22.5 9.5t-9.5 22.5v832q0 13 9.5 22.5t22.5 9.5h1600q13 0 22.5-9.5t9.5-22.5zm128-832v1088q0 66-47 113t-113 47h-544q0 37 16 77.5t32 71 16 43.5q0 26-19 45t-45 19h-512q-26 0-45-19t-19-45q0-14 16-44t32-70 16-78h-544q-66 0-113-47t-47-113v-1088q0-66 47-113t113-47h1600q66 0 113 47t47 113z" /></svg>
                        </div>
                        <div class="cards__title">
                            <h4>Artificial</br>intelligence</h4>
                            <div class="heading--underscore"></div>
                        </div>
                        <p>We combine data-driven decision-making with pattern-learning algorithms to analyse the interactions between financial performance, our environment and wider society.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="gray-divider"></div>

<div class="block-container">
    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            <div class="columned-wrapper">
                <div class="columned-wrapper__column">
                    <div class="image-block">
                        <img class="image-block__image" src="~/img/graphics/impact_allocation_line_May17.jpg" width="378" height="239">
                    </div>
                </div>
                <div class="columned-wrapper__column">
                    <h5>Why consider impact?</h5>
                    <div class="heading--underscore3"></div>
                    <p>
                        In short, we believe that investors who incorporate impact into their investment decisions are
                        better positioned for success.  The ability of an entity to manage environmental and social
                        conditions is a key determinant of the strength of their business model and a driver of financial
                        returns.  Regardless of where you are positioned on the Impact Allocation Line, we provide
                        solutions to help investors of all shapes and sizes incorporate actionable impact metrics
                        into their decision-making processes.
                    </p></br>
                    <a asp-controller="Home" asp-action="Update" >Check out the research</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-container block-container--lighter-dark-gray-theme">
    <div class="content-wrapper">
        <div class="content-wrapper__inner _typography text-center">
            <h3>Start your impact analysis</h3>
            <!-- <div class="heading--underscore"></div> -->
            <a asp-controller="FreeReports" asp-action="RequestReport" class="btn btn--primary btn--xl btn--schedule">Get free report</a>
            <p class="_margin-half"><small>Two easy steps, no credit card required</small></p>
        </div>
    </div>
</div>