
@{
    ViewData["Title"] = "On-Demand Analysis";
}

<div class="block-container">
    <section class="content-wrapper">
        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides _typography content-wrapper__text-wrapper content-wrapper__inner_auto">
            <h3 class="text-center">On-Demand Analysis</h3>
            <div class="heading--underscore"></div>
            <p class="text-center media ourservices">
                Gain insight and improve performance with the exact impact information you need
            </p>
        </div>
    </section>
</div>

<div class="block-container">
    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            <div class="columned-wrapper">
                <div class="columned-wrapper__column sectionmargin">
                    <p>
                        Our On-Demand Analysis enables you to design your solution and choose the areas of impact that are most
                        relevant to your investment decisions so you get exactly what you need.
                    </p>
                    <div class="_typography">
                        <ul class="list list--checked ">
                            <li class="list__item">
                                Unique and tailored insight to optimise performance
                            </li>
                            <li class="list__item">
                                Quickly identify and evaluate unique opportunities
                            </li>
                            <li class="list__item">
                                Choose the depth, breadth and approach of your analysis
                            </li>
                            <li class="list__item">
                                Intuitive presentation, clean layouts and a simple user experience
                            </li>
                            <li class="list__item">
                                Set targets using industry, benchmark and goal alignment data
                            </li>
                            <li class="list__item">
                                Select from our ever-growing list of solutions
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="columned-wrapper__column columned-wrapper__column--align-center">
                    <div class="image-block">
                        <img class="image-block__image" src="~/img/graphics/screenshot_step_one_May17.jpg" width="3002" height="1040">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gray-divider"></div>

<div class="block-container">
    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            <div class="columned-wrapper">
                <div class="columned-wrapper__column columned-wrapper__column--align-center">
                    <div class="image-block">
                        <img class="image-block__image" src="~/img/graphics/screenshot_step_two_May17.jpg" width="3002" height="1040">
                    </div>
                </div>
                <div class="columned-wrapper__column sectionmargin">
                    <h5>Designed for investors</h5>
                    <div class="heading--underscore3"></div>
                    <p>
                        Our solutions are designed for asset owners, investment managers, analysts and the
                        management teams of underlying holdings.  They can be used at every
                        stage of the investment cycle, from testing strategy and screening opportunities
                        through to investor reporting and performance optimization.
                    </p></br>
                    <p>
                        Our analysis covers all asset classes including listed equities, corporate debt, sovereign
                        fixed income, private equity, real estate, infrastructure and other alternative assets.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-container">
    <section class="content-wrapper bg-gray">
        <div class="content-wrapper__inner">
            <section class="local-users-nr">
                <div class="local-users-nr__inner">
                    <h3 class="local-users-nr__title">
                        Join hundreds of happy impact investors from all around the world
                    </h3>
                    <div class="local-users-nr__cta">
                        <a asp-controller="FreeReports" asp-action="RequestReport" class="btn btn--blackbox btn--default btn--lg">
                            Get free report
                        </a>
                        <p class="local-users-nr__subtitle"><small>Two easy steps, no credit card required</small></p>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

<div class="block-container">
    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            <div class="columned-wrapper">
                <div class="columned-wrapper__column sectionmargin">
                    <h5>Choose your analysis</h5>
                    <div class="heading--underscore3"></div>
                    <p>
                        Our modules can be fully integrated or used independently for analysis and reporting
                        so you can select exactly what you need and omit what you don&rsquo;t, helping you to focus on
                        what&rsquo;s important.  Choose from key impact categories, such as:
                    </p>
                    <div class="_typography">
                        <ul class="list list--checked sectionmargin">
                            <li class="list__item">
                                Social and environmental impact metrics
                            </li>
                            <li class="list__item">
                                Operational blueprint and asset-level data
                            </li>
                            <li class="list__item">
                                Upstream and downstream supplier analysis
                            </li>
                            <li class="list__item">
                                Governance and controversies
                            </li>
                            <li class="list__item">
                                Regulatory, climate and other risk analysis
                            </li>
                            <li class="list__item">
                                Bespoke benchmarking and targets
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="columned-wrapper__column columned-wrapper__column--align-center">
                    <div class="image-block">
                        <img class="image-block__image" src="~/img/graphics/screenshot_step_three_May17.jpg" width="3002" height="1040">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gray-divider"></div>

<div class="block-container">
    <section class="content-wrapper bg-gray">

        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides _typography content-wrapper__text-wrapper content-wrapper__inner_auto">
            <h5 class="text-center">Key features of our solutions</h5>
            <!-- <div class="heading--underscore"></div> -->
        </div>

        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides">
            <div class="cards2 cards--5-col cards--gray">

                <!-- First row first three cards -->
                <div class="cards__item2">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h4><small><strong>Modular approach</strong></small></h4>
                            <div class="heading--underscore"></div>
                        </div>
                        <a href="update.html"><small>More info</small></a>
                    </div>
                </div>
                <div class="cards__item2">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h4><small><strong>Social impact</strong></small></h4>
                            <div class="heading--underscore"></div>
                        </div>
                        <a href="update.html"><small>More info</small></a>
                    </div>
                </div>
                <div class="cards__item2">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h4><small><strong>Environmental impact</strong></small></h4>
                            <div class="heading--underscore"></div>
                        </div>
                        <a href="update.html"><small>More info</small></a>
                    </div>
                </div>
                <!-- First row last two cards -->
                <div class="cards__item2">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h4><small><strong>Corporate structure</strong></small></h4>
                            <div class="heading--underscore"></div>
                        </div>
                        <a href="update.html"><small>More info</small></a>
                    </div>
                </div>
                <div class="cards__item2">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h4><small><strong>Data modelling</strong></small></h4>
                            <div class="heading--underscore"></div>
                        </div>
                        <a href="update.html"><small>More info</small></a>
                    </div>
                </div>

                <!-- Second row first three cards -->
                <div class="cards__item2">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h4><small><strong>Risk management</strong></small></h4>
                            <div class="heading--underscore"></div>
                        </div>
                        <a href="update.html"><small>More info</small></a>
                    </div>
                </div>
                <div class="cards__item2">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h4><small><strong>Goal alignment</strong></small></h4>
                            <div class="heading--underscore"></div>
                        </div>
                        <a href="update.html"><small>More info</small></a>
                    </div>
                </div>
                <div class="cards__item2">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h4><small><strong>Granular analysis</strong></small></h4>
                            <div class="heading--underscore"></div>
                        </div>
                        <a href="update.html"><small>More info</small></a>
                    </div>
                </div>
                <!-- Second row last two cards -->
                <div class="cards__item2">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h4><small><strong>Data coverage</strong></small></h4>
                            <div class="heading--underscore"></div>
                        </div>
                        <a href="update.html"><small>More info</small></a>
                    </div>
                </div>
                <div class="cards__item2">
                    <div class="cards__inner">
                        <div class="cards__title">
                            <h4><small><strong>Benchmarking</strong></small></h4>
                            <div class="heading--underscore"></div>
                        </div>
                        <a href="update.html"><small>More info</small></a>
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>

<section class="content-wrapper bg-purple">
    <div class="content-wrapper__inner _typography">
        <div class="local-quote">
            <div class="local-quote__container local-quote__container--multiple">
                <blockquote class="local-quote__quote ">
                    <img src="~/img/graphics/quote.png" />
                    <q class="quotes1">
                        Impactleap's services for impact investment decisions and their unique
                        reporting tools may pave the way for a new era in sustainable investing."
                    </q>
                </blockquote>
                <div class="local-quote__author">
                    <div class="local-quote__author__name">
                        <small class="text-white">Dr Mike Tennant,<br />Centre for Environmental Policy, Imperial College London</small>
                    </div>
                </div>
            </div>
            <div class="local-quote__container local-quote__container--multiple">
                <blockquote class="local-quote__quote ">
                    <img src="~/img/graphics/quote.png" />
                    <q class="quotes1">
                        From developing a framework for our metrics through to how well-thought-out and intuitive
                        the solutions are, Impactleap have enabled us to quantify our impact for our investors in a growing sector."
                    </q>
                </blockquote>
                <div class="local-quote__author">
                    <div class="local-quote__author__name">
                        <small class="text-white">Peter Chapham,<br />Managing Director, Galiano Capital</small>
                    </div>
                </div>
            </div>
            <div class="local-quote__container local-quote__container--multiple">
                <blockquote class="local-quote__quote ">
                    <img src="~/img/graphics/quote.png" />
                    <q class="quotes1">
                        Impactleap is awesome.  I can’t say enough about how well it’s designed or how useful the analysis is.
                        This product has transformed my approach to impact investing.  Thanks for a great tool."
                    </q>
                </blockquote>
                <div class="local-quote__author">
                    <div class="local-quote__author__name">
                        <small class="text-white">Vijay Singh,<br />Independent Financial Advisor</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="block-container block-container--lighter-dark-gray-theme">
    <div class="content-wrapper">
        <div class="content-wrapper__inner _typography text-center">
            <h3>Start your impact analysis</h3>
            <a asp-controller="FreeReports" asp-action="RequestReport" class="btn btn--primary btn--xl btn--schedule">Get free report</a>
            <p class="_margin-half"><small>Two easy steps, no credit card required</small></p>
        </div>
    </div>
</div>