
@{
    ViewData["Title"] = "Pricing";
}

<div class="block-container">
    <section class="content-wrapper">
        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides _typography content-wrapper__text-wrapper content-wrapper__inner_auto">
            <h3 class="text-center">Our Pricing</h3>
            <div class="heading--underscore"></div>
            <p class="text-center">
                Choose an On-Demand Analysis package to suit your needs or request a quote for our Advisory Services
            </p>
        </div>
    </section>
</div>

<section class="pricing-box">
    <!--
            <div class="pricing-box__tiers">
                <div class="block-container">
                    <div class="content-wrapper">
                        <div class="content-wrapper__inner content-wrapper__inner--thinner-sides _margin-bottom-0">
                            <menu class="pricing-box__selectors">
                                <div class="pricing-box__currency pricing-box__currency--active">USD</div>
                                <div class="pricing-box__currency ">GBP</div>
                                <div class="pricing-box__currency ">EUR</div>
                            </menu>
                        </div>
                    </div>
                </div> -->

    <div class="pricing-box__tiers-selector__wrapper block-container">
        <div class="content-wrapper">
            <div class="content-wrapper__inner content-wrapper__inner--thinner-sides _margin-top-0">
                <div class="pricing-box__tiers-selector">

                    <section class="pricing-box__tier-item pricing-box__tier-item--silver pricing-box__tier-item--active">
                        <h2 id="tab1" class="pricing-box__tier-title h3 _margin-0">Single</h2>
                        <div class="heading--underscore2"></div>
                        <div id="tab11" class="pricing-box__tier-content">
                            <p class="pricing-box__tier-subtitle">Select your most relevant module</p>
                            <div class="pricing-box__price-box">
                                <strong class="pricing-box__price-value h1">$995</strong>
                                <div class="pricing-box__price-condition"><strong>per module per portfolio</strong></div>
                                <p class="pricing-box__price-saving">
                                    Quarterly subscriptions get 25% off
                                </p>
                            </div>
                            <ul class="pricing-box__features-list">
                                <li class="pricing-box__feature-item">
                                    Stand alone report
                                </li>
                                <li class="pricing-box__feature-item">
                                    Detailed impact analysis
                                </li>
                                <li class="pricing-box__feature-item">
                                    Actionable metrics
                                </li>
                                <li class="pricing-box__feature-item">
                                    Follow-up support
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="pricing-box__tier-item pricing-box__tier-item--silver pricing-box__tier-item--active">
                        <span class="pricing-box__special-ribbon">MOST POPULAR</span>
                        <h2 id="tab2" class="pricing-box__tier-title h3 _margin-0">Multiple</h2>
                        <div class="heading--underscore2"></div>
                        <div id="tab12" class="pricing-box__tier-content nodisplay2">
                            <p class="pricing-box__tier-subtitle">Select 2 or more modules</p>
                            <div class="pricing-box__price-box">
                                <strong class="pricing-box__price-value h1">$795</strong>
                                <div class="pricing-box__price-condition"><strong>per module per portfolio</strong></div>
                                <p class="pricing-box__price-saving pricing-box__price-saving--monthly">
                                    Quarterly subscriptions get 25% off
                                </p>
                            </div>
                            <ul class="pricing-box__features-list">
                                <li class="pricing-box__feature-item">
                                    Detailed report
                                </li>
                                <li class="pricing-box__feature-item">
                                    Fully integrated analysis
                                </li>
                                <li class="pricing-box__feature-item">
                                    PRI compliant
                                </li>
                                <li class="pricing-box__feature-item">
                                    Actionable metrics
                                </li>
                                <li class="pricing-box__feature-item">
                                    Follow-up support
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="pricing-box__tier-item pricing-box__tier-item--silver pricing-box__tier-item--active">
                        <h2 id="tab3" class="pricing-box__tier-title h3 _margin-0">Enterprise</h2>
                        <div class="heading--underscore2"></div>
                        <div id="tab13" class="pricing-box__tier-content nodisplay3">
                            <p class="pricing-box__tier-subtitle">Select 5 or more modules</p>
                            <div class="pricing-box__price-box">
                                <strong class="pricing-box__price-value h1">$495</strong>
                                <div class="pricing-box__price-condition"><strong>per module per portfolio</strong></div>
                                <p class="pricing-box__price-saving pricing-box__price-saving--monthly">
                                    Quarterly subscriptions get 25% off
                                </p>
                            </div>
                            <ul class="pricing-box__features-list">
                                <li class="pricing-box__feature-item">
                                    Detailed report
                                </li>
                                <li class="pricing-box__feature-item">
                                    Stock selection and sector analysis
                                </li>
                                <li class="pricing-box__feature-item">
                                    Fully integrated analysis
                                </li>
                                <li class="pricing-box__feature-item">
                                    PRI compliant
                                </li>
                                <li class="pricing-box__feature-item">
                                    Actionable metrics
                                </li>
                                <li class="pricing-box__feature-item">
                                    Follow-up support
                                </li>
                            </ul>
                        </div>
                    </section>

                </div>

            </div>
        </div>
    </div>
    
</section>

<div class="bg-gray">
    <div class="block-container">
        <div class="content-wrapper">
            <div class="content-wrapper__inner _typography">
                <div class="local-quote__container ">
                    <blockquote class="local-quote__quote">
                        <img src="~/img/graphics/quote-gray.png" />
                        <q>
                            What Impactleap provides is not only a reporting tool but an investment decision
                            support that may pave the way for a new era of sustainable investing."
                        </q>
                    </blockquote>
                    <div class="local-quote__author">
                        <div class="local-quote__author__image img3" style="background-image: url('/img/heads/Kate_May17.jpg');">
                        </div>
                        <div class="local-quote__author__name">
                            <small>Kate Lottridge<br />Community Investment Marketing, TELUS Plc</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-container block-container--lighter-dark-gray-theme">
    <div class="content-wrapper">
        <div class="content-wrapper__inner _typography text-center">
            <h3>Start your impact analysis</h3>
            <a asp-controller="FreeReports" asp-action="RequestReport" class="btn btn--primary btn--xl btn--schedule">Get free report</a>
            <p class="_margin-half"><small>Two easy steps, no credit card required</small></p>
        </div>
    </div>
</div>

